.vs/
bin/
obj/
*.user
*.suo
*.rsuser
*.sln.docstates
.vs/
bin/
obj/
*.user
*.suo
*.rsuser
*.sln.docstates
.vs/
bin/
obj/
*.user
*.suo
*.rsuser
*.sln.docstates
.vs/
bin/
obj/
*.user
*.suo
*.rsuser
*.sln.docstates
.vs/
bin/
Unidox.csproj.user
*.suo
*.rsuser
*.sln.docstates
