<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
      <customBinding>
          <binding name="InvoiceWSPortBinding">
              <textMessageEncoding messageVersion="Soap12" />
              <httpsTransport maxReceivedMessageSize="2147483647" />
          </binding>
		  
          <binding name="QueryDocumentWSPortBinding">
              <textMessageEncoding messageVersion="Soap12" />
              <httpsTransport maxReceivedMessageSize="999999999" authenticationScheme="Anonymous"
                  maxBufferSize="999999999" proxyAuthenticationScheme="Anonymous"
                  transferMode="Buffered" useDefaultWebProxy="true" />
          </binding>
		  
          <binding name="CustomBinding_QueryDocumentWS">
			  <textMessageEncoding messageVersion="Soap12" />
			  <httpsTransport maxReceivedMessageSize="2147483647" />
          </binding>
      
	  
	  
	  
	  </customBinding>
  </bindings>
		<client>
      <endpoint address="https://(service name here)/InvoiceService/InvoiceWS"
          binding="customBinding" bindingConfiguration="InvoiceWSPortBinding"
          contract="ServiceReference1.InvoiceWS" name="InvoiceWSPort" />
      <endpoint address="https:(service name here)/QueryInvoiceService/QueryDocumentWS"
          binding="customBinding" bindingConfiguration="QueryDocumentWSPortBinding"
          contract="ServiceReference2.QueryDocumentWS" name="QueryDocumentWSPort" />
      <endpoint address="https://(service name here)/QueryDocumentWSService.svc"
          binding="customBinding" bindingConfiguration="CustomBinding_QueryDocumentWS"
          contract="ServiceReference3.QueryDocumentWS" name="CustomBinding_QueryDocumentWS" />
  </client>
	</system.serviceModel>
</configuration>
